@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <a href="/Home/CreateError">Create Error</a>
    <a href="/Home/Logout">Logout</a>
    index
</body>
</html>
